<!-- <p>edit-user works!</p> -->
<!-- *ngIf="showHeader" -->
<div  class="container" >
    <h2>Edit User</h2>
    <form (ngSubmit)="updateUser()">
    <div>
        <label for="user_id">User ID:</label>
        <input type="text" id="user_id" [(ngModel)]="user.user_id" name="user_id" required>
    </div>
    <div>
        <label for="user_name">Username:</label>
        <input type="text" id="user_name" [(ngModel)]="user.user_name" name="user_name" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
    </div>
    <div>
        <label for="user_name">Phone:</label>
        <input type="text" id="phone" [(ngModel)]="user.phone" name="phone" required>
    </div>
    <div>
        <label for="user_name">Role:</label>
        <!-- <input type="text" id="role" [(ngModel)]="user.role" name="role" required> -->
        <!-- [(ngModel)]="selectedRole" -->
        <select id="role" [(ngModel)]="selectedRole" (change)="onRoleChange($event)" name="role" required>
            <!-- Loop melalui array keys untuk membuat opsi -->
            <option *ngFor="let roleKey of userRoleKeys" [value]="userRoles[roleKey]">
                {{ roleKey }}
            </option>
        </select>
    </div>
    <button type="submit">Update User</button>
    </form>
</div>