<!-- <p>user-list works!</p> -->

<div class="container">
    <h2>Daftar Barang</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID Barang</th>
          <th>Nama Barang</th>
          <th>Jumlah</th>
          <th>UoM</th>
          <!-- <th>Status</th> -->
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let barang of barangs">
          <td>{{ barang.id_barang }}</td>
          <td>{{ barang.nama_barang }}</td>
          <td>{{ barang.jumlah }}</td>
          <td>{{ barang.uom }}</td>
          <!-- <td>{{ getRoleDescription(+user.role) }}</td> -->
          <td>
            <!-- <button (click)="editUsers(user.user_id)" class="btn btn-primary">Edit</button> -->
            <a [routerLink]="['/edit-user', barang.barang_id]" title="Edit barang" >Edit Barang</a>
            <br>
            <!-- <button (click)="deleteUser(user.user_id)" class="btn btn-danger">Delete User</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>