<!-- login.component.html -->
<div *ngIf="showHeader" class="container" >
<!-- <router-outlet></router-outlet> -->
<!-- <div > -->
    <h2>Login</h2>
    <form>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <button type="submit">Login</button>
    </form>
    <br>
    <button [routerLink]="['/']" class="btn btn-secondary">Back to Home</button>
</div>