<!-- <p>user-list works!</p> -->

<div *ngIf="showHeader" class="container">
    <h2>Daftar Pengguna</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Email</th>
          <th>Telepon</th>
          <th>Status</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.user_id }}</td>
          <td>{{ user.user_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <!-- <td>{{ user.role }}</td> -->
          <td>{{ getRoleDescription(+user.role) }}</td>
          <td>
            <button (click)="editUsers(user.user_id)" class="btn btn-primary">Edit</button>
            <a [routerLink]="['/edit-user', user.user_id]" title="Edit user" >Edit User</a>
            <br>
            <!-- <a [routerLink]="['/delete-user', user.user_id]" title="'Delete User">Delete User</a> -->
            <button (click)="deleteUser(user.user_id)" class="btn btn-danger">Delete User</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>