<!-- <p>search works!</p> -->
<!-- *ngIf="showHeader" -->
<div class="container" *ngIf="showHeader">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="..." aria-label="User" matInput [formControl]="searchControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option.user_name }} - {{ option.email }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </nav>
</div>
